.container {
    width: 300px;
    min-height: 250px;
    height: 500px;
    background-color: beige;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px auto;
    display: inline-block;
    text-align: center;
    overflow: hidden;
  }
  
  .img {
    width: 100px;
    height: 100px;
  }
  
  .h4 {
    font-size: 20px;
    color: blue;
  }
  
  .p {
    font-size: 18px;
    color: brown;
  }